#if ($squad)
<h1>$squad.getSquadName() heroes:</h1>
<ul>
  #foreach($hero in $squad.getHeroes())
  <li>$hero.getName()</li>
  #end
</ul>
#else
<em><p>Oops! We can't seem to find that Squad.</p></em>
#end

<a href="/squads/$squad.getId()/heroes/new">Add a new hero</a>
<a href="/squads">All Squads</a>
