<h1>Welcome to Endurance!</h1>

<p>Add your Squad here:</p>

<form action="/squads" method="post">
  <label for="name">Squad name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add a Squad</button>
</form>
